In [3]:
Science = 80
English = 80
Maths = 75
Marathi = 35
Hindi = 20

total = Science+English+Maths+Marathi+Hindi
print("Total Marks is = ",total)
per = (total*100/500)
print("per = ",per)

if per < 100 and per > 95:
    print("Grade : A+")
if per < 94 and per > 90:
    print("Grade : A")
if per < 89 and per > 80:
    print("Grade : B")
if per < 79 and per > 70:
    print("Grade : C")
if per < 69 and per > 60:
    print("Grade : D")
if per < 59 and per > 50:
    print("Grade : E")

Total Marks is =  290
per =  58.0
Grade : E

In [4]:
a = 10
b = 15

if a > b:
    print("10 is greater than 15")
else:
    print("15 is greater than 10")

15 is greater than 10

In [6]:
year = 2025

if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 == 0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2025 is not a leap year

In [7]:
a = -7

if a > 0 and a < 100:
    print("(a) is a positive number" . format(a))
elif a <0 and a > -100:
    print("(a) is a negative number" . format(a))

(a) is a negative number

In [9]:
name = "johnny"
age = 24
print(f"My name is {name}, I am {age} years old.")

My name is johnny, I am 24 years old.

In [11]:
x = 10
y = 5 

print(f"The sum of {x} and {y} is {x + y}.")

The sum of 10 and 5 is 15.

In [14]:
name = "Pankaj"
age = 25
print("My name is {}, and I am {} years old.".format(name, age))
print("My name is {0}, and I am {1} years old. {0} is learning Python.".format(name, age))
print("My name is %s, and I am %d years old." % (name, age))

My name is Pankaj, and I am 25 years old.
My name is Pankaj, and I am 25 years old. Pankaj is learning Python.
My name is Pankaj, and I am 25 years old.

In [17]:
pi = 3.14159
print("The value of pi is approximately %.2f." % pi)

The value of pi is approximately 3.14.

In [21]:
name = "Pankaj"
print(f"{name:>10}")

    Pankaj

In [22]:
name = "Pankaj"
print(f"{name:<10}")

Pankaj

In [23]:
name = "Pankaj"
print(f"{name:^10}")

  Pankaj

In [24]:
pi = 3.141592653589793
print(f"Value of pi to 3 decimal places: {pi:.3f}")

Value of pi to 3 decimal places: 3.142

In [25]:
number = 1000000
print(f"Number with commas: {number:,}")

Number with commas: 1,000,000

In [26]:
name = "Johnny"
age = 21
pi = 3.14159
print(f"Name: {name:<10} Age: {age:<10} Pi: {pi:.2f}")

Name: Pankaj     Age: 25         Pi: 3.14